<h1>{{pokemon?.name?.english}}</h1>
<h2> Nro: {{idPokemon}}</h2>
<br/>
<figure>
    <img src="https://raw.githubusercontent.com/fanzeyi/pokemon.json/master/images/{{pokemon?.idImage}}" alt="">
  </figure>

<h4>ATK: {{pokemon?.base?.attack}}</h4>
<h4>DEF: {{pokemon?.base?.defense}}</h4>